
body{
    background-color: #000000;
    
}
.head{
    color: #ffffff;
    text-align: center;
}
.flex-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-size: cover;
    background-color: #000000;
    height: 100vh;
    margin: 1%;
}
.left{
    width: 90%;
    height: 15%;
    margin: 1%;
    padding: 2%;
    background-color: #2F4F4F;
    border: 5px solid #0e3b2c;
    border-radius: 20px;
}
.middle{
    width: 30%;
    margin: 1%;
    height: 92%;
    background-color: #2F4F4F;
    border: 5px solid #0e3b2c;
    border-radius: 20px;
}

#sContainer {
    position: relative;
    width: 62%;
    margin: 1%;
    height: 65%;
}

#outerCanvas {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 20;
    top: 0;
    left: 0;
}

.right{
    background-color: #2F4F4F;
    border: 5px solid #0e3b2c;
    border-radius: 20px;
    z-index: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 130%;
}

.bt-group {
    margin: 0 auto;
    display: block;
    text-align: center;
}

.error-text {
    text-align: center;
    color: red;
}

.sel_button {
    border: 2px solid navy;
}

button{
    margin: 1%;
    padding: 1%;
    line-height: 5%;
    height: 10%;
    font-size: 95%; 
    border: 2px solid #000000;
    background-color:wheat;
    border-radius: 5px;
    text-align: center;
}

h1{
    font-size: 200%;
    color: #ffffff;
}
h3{
    text-align: center;
    font-size: 150%;   
    margin-top: 0em;
    text-decoration: underline;
}
li{
    color: #ffffff;
    
}
img{
    height: 70%;
    width: 30%;
    margin: 1%;
    float: right;
    border: 2px solid #000000;
}
#myCanvas{
    margin: 1%;
    width: 60%;
    height: 70%;
    border: 1px solid #ffffff;
    fill: #000000;
}

.codelinefirst {
    color: #ffffff;
    font-weight: bold;
    margin-left: 5%;
}

.codeline {
    color: #ffffff;
    font-weight: bold;
    margin-left: 35%;
}

@media only screen and (max-width: 900px){
    .left{
        width: 90%;
        height: 20%;
        margin: 0.5%;
        padding: 2%;
        background-color: #2F4F4F;
        border: 5px solid #0e3b2c;
        border-radius: 20px;
    }
    .middle{
        width: 80%;
        margin: 0.5%;
        height: 65%;
        background-color: #2F4F4F;
        border: 5px solid #0e3b2c;
        border-radius: 20px;
    }
    .right{
        width: 110%;
        margin: 1%;
        height: 60%;
        background-color: #2F4F4F;
        border: 5px solid #0e3b2c;
        border-radius: 20px;
    
    }
    button{
        margin: 1%;
        padding: 2%;
        line-height: 5%;
        height: 12%;
        font-size: 95%; 
        border: 2px solid #000000;
        background-color:wheat;
        border-radius: 5px;
        text-align: center;
    
    }
    img{
        height: 70%;
        width: 30%;
        margin: 3%;
        float: right;
        border: 2px solid #000000;
    }
    #myCanvas{
        margin: 3%;
        width: 55%;
        height: 70%;
        border: 1px solid #ffffff;
        fill: #000000;
    }
    h3{
        font-size: 120%;
        text-align: center;   
        margin-top: 0em;
        text-decoration: underline;
    }

}
@media only screen and (max-width: 600px){
    .left{
        width: 90%;
        height: 20%;
        margin: 1%;
        padding: 2%;
        background-color: #2F4F4F;
        border: 5px solid #0e3b2c;
        border-radius: 20px;
    }
    .middle{
        width: 90%;
        margin: 1%;
        height: 70%;
        background-color: #2F4F4F;
        border: 5px solid #0e3b2c;
        border-radius: 20px;
    }
    .right{
        width: 110%;
        margin: 1%;
        height: 60%;
        background-color: #2F4F4F;
        border: 5px solid #0e3b2c;
        border-radius: 20px;
    }
    button{
        margin: 1%;
        padding: 2%;
        line-height: 5%;
        height: 10%;
        font-size: 95%; 
        border: 2px solid #000000;
        background-color:wheat;
        border-radius: 5px;
        text-align: center;
    }
    h3{
        text-align: center;
        font-size: 120%;   
        margin-top: 0em;
        text-decoration: underline;
    }
    img{
        height: 70%;
        width: 30%;
        margin: 2%;
        float: right;
        border: 2px solid #000000;
        
    }

    #myCanvas{
        margin: 2%;
        width: 55%;
        height: 70%;
        border: 1px solid #ffffff;
        fill: #000000;
    }
}